---
layout: html.liquid
styles:
    /blog/static/post.css
---

<main class="layout">
<h1>{{title | escape}}</h1>
<section class="post">
    {% render "widgets/gallery" images: images %}
    {{content}}
</section>
<nav class="navigation">
    {% assign nextPost = collections.post | getNextCollectionItem: page %}
    <a class="navigation__link" {% if nextPost %}href="{{ nextPost.url | url }}" id="go-left" rel="next" title="{{ nextPost.data.title | escape }}"{% endif %}>{% render "icons/left.svg",  size: 32 %}</a>
    
    <a class="navigation__link" href="/blog/">{% render "icons/home.svg",  size: 32 %}</a>

    {% assign previousPost = collections.post | getPreviousCollectionItem: page %}
    <a class="navigation__link" {% if previousPost %}href="{{ previousPost.url | url }}" rel="prev" id="go-right" title="{{ previousPost.data.title | escape }}"{% endif %}>{% render "icons/right.svg",  size: 32 %}</a>
</nav>
</main>