---
permalink: /blog/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{globals.title}}</title>
    <link>{{globals.host}}/blog/</link>
    <description>{{globals.description}}</description>
    <language>ru</language>{% assign posts = collections.post | reverse %}{% for post in posts %}
    <item>
      <title><![CDATA[{{ post.data.title | xml_escape }}]]></title>
      <link>{{ globals.host }}{{ post.url }}</link>
      <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
      <description>{% capture postHtml %}{% for image in post.data.images %}{% sketch image, true %}{% endfor %}{{ post.templateContent}}{% endcapture %}<![CDATA[{{postHtml | xml_escape}}]]></description>
      <author>{{globals.email}}</author>
    </item>{% endfor %}
  </channel>
</rss>