---
permalink: /blog/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{globals.title}}</title>
    <link>{{globals.host}}/blog/</link>
    <description>{{globals.description}}</description>
    <language>ru</language>
    <image>
      <url>{{globals.host}}/blog/static/er32.png</url>
      <width>32</width>
      <height>32</height>
    </image>{% assign posts = collections.post | reverse %}{% for post in posts %}
    <item>
      <title>{{ post.data.title | cdata }}</title>
      <link>{{ globals.host | concat: post.url | cdata }}</link>
      <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
      <description>{% capture postHtml %}{% for image in post.data.images %}{% sketch image, true %}{% endfor %}{{ post.templateContent}}{% endcapture %}{{postHtml | cdata}}</description>
      <giud>{{post.url | cdata}}</giud>
    </item>{% endfor %}
  </channel>
</rss>