---
title: Blog
layout: layout.liquid
pagination:
    data: collections.post
    size: 50
    alias: posts
---
<main class="layout">
    
   <h1>{{title}}</h1>
    <ul class="posts">
      {% for post in posts %}
      <li><a href="{{post.url}}">{{post.data.title | escape}}</a></li>
      {% endfor %}
    </ul>

<nav class="pagination">
  <a {% if pagination.href.previous %}href="{{ pagination.href.previous }}"{% endif %}>←</a>
  <ol class="pagination__pages">
    {% for href in pagination.hrefs %}
    <li class="pagination__item">
      <a {% if page.url != href %}href="{{href}}"{% else %}aria-current="page"{% endif %}>{{ forloop.index }}</a>
    </li>
    {% endfor %}
  </ol>
  <a {% if pagination.href.next %}href="{{ pagination.href.next }}"{% endif %}>→</a>
</nav>
<main>