---
title: ErBlog
layout: html.liquid
styles:
    /blog/static/main.css
pagination:
    data: collections.post
    size: 25
    reverse: true
    alias: posts
---
<main class="layout">
  <header class="header">
    <h1>{{title}}</h1>
    <a href="/blog/feed.xml" title="RSS Feed">{% render "icons/rss.svg", size: 32 %}</a>
  </header>
  <ul class="posts">
    {% for post in posts %}
    <li>{% render "widgets/preview",  post: post %}</li>
    {% endfor %}
  </ul>
<nav class="navigation">
  <a class="navigation__link" rel="prev" {% if pagination.href.previous %}href="{{ pagination.href.previous }}" id="go-left"{% endif %}>{% render "icons/left.svg",  size: 32 %}</a>
  <ol class="pagination__pages">
    {% for href in pagination.hrefs %}
    <li class="pagination__item">
      <a class="navigation__link" {% if page.url != href %}href="{{href}}"{% else %}aria-current="page"{% endif %}>{{ forloop.index }}</a>
    </li>
    {% endfor %}
  </ol>
  <a class="navigation__link" rel="next" {% if pagination.href.next %}href="{{ pagination.href.next }}" id="go-right"{% endif %}>{% render "icons/right.svg",  size: 32 %}</a>
</nav>
<main>